{% extends 'base.html' %}


{% block content %}

<!-- ========================= SECTION CONTENT ========================= -->
<section class="section-conten padding-y" style="min-height:84vh">

    {% if request.GET.command == 'verification' %}

    <div class="container mx-auto alert alert-info text-center" role="alert" style="max-width: 1084px; margin-top:100px;">
        Thank you for registration. We have sent you an activation link to [{{request.GET.email}}], kindly check your email to verify your account.
        <br><br>
        <i>Already verified?</i> <a href="{% url 'login' %}">Login</a>
    </div>

    {% else %}
    <!-- ============================ COMPONENT LOGIN   ================================= -->
        <div class="card mx-auto" style="max-width: 380px; margin-top:100px;">
        <div class="card-body">
            <h4 class="card-title mb-4">Sign in</h4>
            <!-- django messages -->
            {% include 'includes/alerts.html'%}
            <form action="{% url 'login' %}" method="POST">
                {%csrf_token%}
              <div class="form-group">
                 <input type="email" class="form-control" placeholder="Email Address" name="email">
              </div> <!-- form-group// -->
              <div class="form-group">
                <input type="password" class="form-control" placeholder="Password" name="password">
              </div> <!-- form-group// -->
              
              <div class="form-group">
                  <a href="#" class="float-right">Forgot password?</a> 
               
              </div> <!-- form-group form-check .// -->
              <div class="form-group">
                  <button type="submit" class="btn btn-primary btn-block"> Login  </button>
              </div> <!-- form-group// -->    
            </form>
        </div> <!-- card-body.// -->
        </div> <!-- card .// -->
    
         <p class="text-center mt-4">Don't have account? <a href="{% url 'register' %}">Sign up</a></p>
         <br><br>
    <!-- ============================ COMPONENT LOGIN  END.// ================================= --> 
    {% endif %}
</section>
<!-- ========================= SECTION CONTENT END// ========================= -->

{% endblock %}